
body {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  background-image: url(img/bg_main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin-top: 15px;
  display: flex;
  font-size: 20px;
  align-items: center;
}

.logo {
  display: flex;
}

.content_header {
  display: flex;
}

.location {
  margin-left: 315px;
  display: flex;
  align-content: center;
}

.location_content {
  width: 200px;
  margin-left: 30px;
  color: white;
}

.tel {
  margin-left: 120px;
  display: flex;
  align-content: center;
}

.tel .tel_content {
  margin-left: 30px;
  color: white;
  width: 200px;
}

.menu {
  margin-left: 130px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  width: 886px;
  color: white;
  margin-top: 150px;
  margin-bottom: 0px;
}

.main {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 59px;
  color: #c6c6c6;
  margin-top: 0px;
  width: 841px;
}

.boxes {
  display: flex;
  z-index: 2;
}

.box_first {
  width: 240px;
  height: 84px;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 6px;
}

.box_second {
  width: 240px;
  height: 84px;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 6px;
  margin-left: 18px;
}

.box_third {
  width: 240px;
  height: 84px;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  border-radius: 6px;
  margin-left: 18px;
}

.title_box_first {
  font-style: normal;
  font-weight: 400px;
  font-size: 14.4px;
  color: #C0C0C0;
  margin-left: 12px;
}

.title_box_second {
  font-style: normal;
  font-weight: 400px;
  font-size: 14.4px;
  color: #C0C0C0;
  margin-left: 12px;
}

.title_box_third {
  font-style: normal;
  font-weight: 400px;
  font-size: 14.4px;
  color: #C0C0C0;
  margin-left: 12px;
}

.dropdown {
  position: relative;
  width: 216px;
  height: 34px;
  margin-top: 8px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
}

option,
select {
  color: white;

  border: none;
}

.dropdown:focus,
.dropdown:hover {}

.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 220px;
  height: 34px;
  background: none;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  margin-left: 12px;
}

.dropdown select::-ms-expand {
  display: none;
}

.dropdown .material-icons {
  font-family: Material Icons;
  font-size: 24px;
  line-height: 24px;
  color: white;
  position: absolute;
  top: 7px;
  right: -15px;
  pointer-events: none;
}

input {
  width: 225px;
  background: rgba(0, 0, 0, 0.01);
  border-radius: 8px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #FFFFFF;
  border: rgba(0, 0, 0, 0.01);
  margin-left: 12px;
  margin-top: 8px;
}
.hidden-menu {
  align-items: center;
  display: block;
  position: fixed;
  list-style:none;
  padding-top: 100px;
  padding-left: 100px;
  margin: 0;
  box-sizing: border-box;
  width: 500px;
  background: rgba(0, 0, 0, 0.31);
  box-sizing: border-box;
  backdrop-filter: blur(2px);
  height: 100%;
  top: 0;
  left: 1500px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.hidden-menu-ticker {
  display: none;
}
.btn-menu {
  color: #fff;
  padding: 5px;
  position: fixed;
  top: 40px;
  left: 1390px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.first {
  margin-top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu {
  left: 1390px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
  left: 1124px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.hidden-menu-ticker:checked ~ .btn-menu span.second {
  opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}
a {
  text-decoration: none;
  font-family: font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 30px;
}
.hidden-menu :hover{
  text-decoration: underline;
  color: blue;
}
